.cardholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-content: space-around; 
    gap: 20px; 
  }
  
  .card {
    flex: 0 0 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px); 
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  
  .image {
    position: relative;
    overflow: hidden;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 18px;
    margin: 10px 0;
    padding: 0 10px;
    height: 30px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #0056b3; 
  }
  
  @media (max-width: 1000px) {
    .card {
      flex: 0 0 0 calc(33% - 20px); 
      max-width: calc(33% - 20px); 
    }
  }
  
  @media (max-width: 500px) {
    .card {
      flex: 0 0 calc(100% - 20px); 
      max-width: calc(100% - 20px); 
    }
  }
  